<div class="row text-center">
  <h1 class="text-center ">APP PIANO</h1>
  <div class="col-lg-4">
    <div class="list-group">
      <a (click)="aplicarSonido(1)" href="#" class="list-group-item list-group-item-action" style="background-color: #99BC85;"></a>
      <a (click)="aplicarSonido(2)" href="#" class="list-group-item list-group-item-action" style="background-color: #78A083;" ></a>
      <a (click)="aplicarSonido(3)" href="#" class="list-group-item list-group-item-action " style="background-color: #E1F0DA;"></a>
      <a (click)="aplicarSonido(4)" href="#" class="list-group-item list-group-item-action " style="background-color: #211C6A;"></a>
      <a (click)="aplicarSonido(5)" href="#" class="list-group-item list-group-item-action " style="background-color: #59B4C3;"></a>
      <a (click)="aplicarSonido(6)" href="#" class="list-group-item list-group-item-action " style="background-color: #EFF396;"></a>
      <a (click)="aplicarSonido(7)" href="#" class="list-group-item list-group-item-action " style="background-color: #74E291;"></a>
    </div>
  </div>
</div>
